{% extends 'Kioskapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="mx-auto w-75">
        <div>
            <h2> Customers </h2>
        </div>
        <table class="table_ours mb-2">
            <thead>
                <th scope="col"> Name </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th class="text-center"colspan="2" scope="colgroup"> Actions </th>
            </thead>
            <tbody>
                {% for c in customers %}
                <tr>
                    <td> {{ c.name }} </td>
                    <td> {{ c.address }} </td>
                    <td> {{ c.city }} </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'edit_customer' pk=c.pk %}"  class="btn btn-dark mr-2">Edit</a>
                            <a href="{% url 'viewcustomerorders' pk=c.pk %}"  class="btn btn-dark">View All Orders</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between ">
            <a class='table_button_l my-0' href="{% url 'main_menu'%}"><span>Main Menu</span></a>
            <a class='table_button my-0' href="{% url 'add_customer'%}"><span>Add Customer</span></a>
        </div>
    </div>

</div>
{% endblock %}