{% extends 'Kioskapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-12" style="padding-bottom: 30px;">
    <div class="mx-auto w-75">
        <div>
            <h2>Food Items</h2>
        </div>
        <table class="table_ours mb-2">
            <thead>
                <th scope="col"> Name </th>
                <th scope="col"> Description </th>
                <th scope="col"> Price </th>
                <th scope="col"> Actions </th>
            </thead>
            <tbody>
                {% for f in food %}
                <tr>
                    <td> {{ f.food_name }} </td>
                    <td> {{ f.description }} </td>
                    <td> {{ f.price }} </td>
                    <td><a href="{% url 'edit_food' pk=f.pk %}"  class="btn btn-dark">Edit</button></td>     
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between my-0">
            <a class='table_button_l my-0' href="{% url 'main_menu'%}"><span>Main Menu</span></a>
            <a class='table_button my-0' href="{% url 'add_food'%}"><span>Add Food</span></a>
        </div>
    </div>
</div>
{% endblock %}